.button {
    background-color: $primary-color;
    border: none;
    color: rgb(243, 146, 196);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: darken($primary-color, 20%);
      }
      
    &:active {
        background-color: lighten($primary-color, 20%);
    }
}